.blogs{
    padding: 10px 15px;
    min-height: 100vh;

}
.loading{
    display: grid;
    place-items: center;
    min-height: 60vh;
    text-align: center;

}
.blogwrapper{
    padding-bottom: 10px;
    border-bottom: 2px dotted white;
}
.blogscard{
    max-width: 800px;
    margin: 0 auto;
}
.backme{
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media screen and (max-width:751px) {
    .backme{
        margin-left: 0%;
    }
}